<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button (click)="collapsed = !collapsed" class="navbar-toggle" type="button">
        <span *ngFor="let iconBar of [1, 2, 3]" class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Big Chicken</a>
    </div>
    <div (window:resize)="collapsed = true" [class.collapse]="collapsed" class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li appDropdown class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Delivery<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let productCategory of productCategoryService.categories$ | async">
              <a [routerLink]="['category', productCategory.name]">{{productCategory.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <app-authenticated-menu></app-authenticated-menu>
      <app-shopping-cart-menu></app-shopping-cart-menu>
    </div>
  </div>
</nav>
