.textImage {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .77);
  height: 44px;
  position: absolute;
  z-index: 9;
  box-sizing: border-box;
  padding: 11px 10px;
  text-align: center;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  max-width: 155px;
  color: #242f3a;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
