<ul class="nav navbar-nav navbar-right">
  <li *ngIf="firebaseUser; else loginLink" appDropdown class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {{firebaseUser.displayName}}<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a (click)="onLogout()" href="#">Logout</a></li>
    </ul>
  </li>
  <ng-template #loginLink>
    <li>
      <a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
    </li>
  </ng-template>
</ul>
